.toolbar {
  height: var(--toolbar-height);
}

.layers {
  display: flex;
  gap: 1rem;
}

.layers > div {
  position: relative;
  flex-basis: 33.3%;
  padding: 1rem;
  background: #eeeeee;
  border-radius: 8px;
  text-align: center;
}

.color-tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #666666;
  vertical-align: text-bottom;
  transition: 0.3s;
}

.title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}

.triggers-wrapper {
  display: block;
}

.layer-trigger,
.color-trigger,
.radius-trigger {
  display: inline-block;
  margin: 0.5rem 0.5rem;
}

.radius-trigger:first-of-type {
  margin-right: 2rem;
}
.radius-trigger:last-of-type {
  margin-left: 2rem;
}

.color-picker {
  position: absolute;
  display: none;
  left: calc(50% - 110px);
  width: 220px;
  margin-top: 1rem;
  z-index: 1;
}

.color-picker.active {
  display: block;
}

@media (max-width: 958px) {
  .radius-trigger:first-of-type,
  .radius-trigger:last-of-type {
    margin-right: 8px;
    margin-left: 8px;
  }
}
